@font-face{
	font-family: "Digital-7";
	src: url("digital-7.ttf") format("ttf");
}

html,body{
	color:#DD2222;
	
	height: 100%;
	background: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#demo{
font-family: 'Orbitron', sans-serif;
font-size: 5em;
}
h1{
	color: #EEE;
	font-family: 'Montserrat', sans-serif;
}
img{

}